---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="flex-none m-auto max-w-3xl">
    <h1 class="text-2xl py-4">Hello Reader!</h1>
    <p>
      Thank you for stopping by. My name is Cameron (Cam) Beatty and I have been
      in tech since 2015 after I graduated from college with my degree in
      computer science. Since then, I have been in many roles that have given me
      a unique perspective on software development and technology in general.
      This blog's main purpose is to document my learnings, successes, failures,
      and at times random thoughts mainly inside the tech space.
    </p>
  </main>
</BaseLayout>
