---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/header/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="min-h-screen flex flex-col dark:bg-gray-900 dark:text-white">
    <Header title={SITE_TITLE} />
    <slot />
    <Footer />
    <script>
      import { ApplicationInsights } from "@microsoft/applicationinsights-web";
      import "flowbite";

      const appInsights = new ApplicationInsights({
        config: {
          connectionString:
            "InstrumentationKey=d2485b27-5d16-41f9-bee4-7fd9623eb218;IngestionEndpoint=https://centralus-2.in.applicationinsights.azure.com/;LiveEndpoint=https://centralus.livediagnostics.monitor.azure.com/",
        },
      });
      appInsights.loadAppInsights();
      appInsights.trackPageView();
    </script>
  </body>
</html>
